.button {
    display: flex;
    padding: 0.3125rem 1.5625rem;
    background-color: blue;
    color: white;
    text-align: center;
    border: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}