.header {
    background-color: rgb(15, 77, 15);
    position:absolute;
    padding-top: 1.875rem;
    width: 35rem;
    height: 8rem;   
    text-align: center;    
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__title{
        color: #ffffff;
    }  
    &__subtitle{
        margin-top: 0.5rem;
        color: #ffffff;
    }
}