.navbar{
    background-color: rgb(55, 232, 255);
    height: 5.8vh;
    width: 100%;
    padding-left: 2.5%;

    &__menu{
        list-style: none;
    }
    &__item{
        display: inline-block;        
        color: black;
        align-items: center;
        font-size: 1.3rem;
        padding: 0.6rem;  
        margin-top: 0.35rem;      
    }
    }